* text=auto

*.cs        text diff=csharp
*.csproj    text
*.props     text
*.slnx      text
*.xaml      text
*.md        text
*.yml       text
*.http      text

*.png       binary
*.ico       binary
